body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.navbar-custom {
  width: 100%;
  background-color: lightgray;
}

.navbar-custom .container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  margin-left: 10px;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.fs-4 {
  font-size: 1.5rem;
}

.map-container {
  height: 400px;
}

.weather-card {
  height: 100%;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.news-image {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
}

.footer {
  margin-top: 40px;
}

.d-block {
  display: block;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icon-spacing {
  margin-right: 5px;
}

.icon-spacing ~ span {
  margin-left: 5px;
}

.form-group {
  display: flex;
}

footer p {
  font-size: 0.8rem;
  margin: 0.2rem 0;
}
